* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
}

input:focus, 
button:focus, 
textarea:focus {
    outline: 2px solid #3b79b3;
    outline-offset: -2px;
    box-shadow: 0 0 2px #ddd;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    color: #072142;
    background: #eaeaea;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section__title, 
.nav__link, 
.skillset__category {
    text-transform: uppercase;
}

.section__title {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 28px;
    position: relative;
    display: inline-block;
}

.section__title--large {
    font-size: 38px;
    text-align: center;
    padding-top: 70px;
}

.btn {
    height: 70px;
    font-size: 18px;
    padding: 20px 40px;
    color: #ffffff;
    border-radius: 4px;
    font-family: inherit;
    min-width: 200px;
    line-height: 1.5;
    cursor: pointer;
}

.btn--solid {
    background: rgba(59, 121, 179, .4);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.05)
}

.transition--push-down {
    transition: all 250ms ease-in;
    position: relative;
}

.transition--push-down:hover {
    box-shadow: none;
    position: relative;
    transform: translateY(3px);
}

.btn__transparent--white {
    background: transparent;
    border: 2px solid #ffffff;
}

.btn__transparent--primary {
    background: transparent;
    border: 2px solid #102e4a;
    color: #102e4a;
}

main, section {
    background: #eaeaea;
    min-height: 100vh;
    width: 100%;
    position: relative;
    top: 100vh;
    z-index: 999;
}

.hero {
    background-image: linear-gradient(129.85deg, rgba(16, 46, 74, 0.85) 51.35%, 
                    rgba(1, 111, 185, 0.816) 100.56%), 
                    url(https://res.cloudinary.com/myopinion-ng/image/upload/c_scale,q_60,w_3000/v1560038926/portfolio/background.jpg); 
    background-size: cover;
    font-family: 'Poppins';
    color: #ffffff;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}

.hero-cta {
    align-self: flex-start;
    transition: all 400ms ease-in-out;
    top: 0;
    position: relative;
    display: inline-block;
}

.hero-cta > i {
    margin-right: 10px;
}

.hero-cta:hover {
    background: #ffffff;
    color: #072142;
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 3px;
    transform: translateY(3px);
}

.hero__text {
    font-size: 22px;
    line-height: 73px;
    width: 66%;
    letter-spacing: .02em;
    margin-bottom: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.hamburger {
    display: none;
}

.logo {
    width: 80px;
    align-self: flex-start;
    cursor: pointer;
}

.nav__menu {
    display: flex;
    align-self: center;
    flex-basis: 81%;
    justify-content: space-between;
}

.nav__link {
    color: #ffffff;
    position: relative;
    letter-spacing: 1px;
}

.nav__link::after {
    content: '';
    width: 0;
    background: #ffffff;
    position: absolute;
    bottom: -10px;
    height: 3px;
    left: 0
}

.nav__link:hover::after {
    width: 100%;
    transition: all 400ms ease-in-out;
}

/* Styles for the profile section */
.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section__title::before {
    content: '';
    background: #072142;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
}

.profile__portrait, 
.profile__description {
    padding: 70px;
}

.profile__image {
    box-shadow: 6px 11px 13px rgba(7, 33, 66, 0.16);
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile__links {
    display: flex;
    justify-content: space-evenly;
}

.profile__portrait .profile__link {
    display: inherit;
    position: relative;
}

.profile__portrait .profile__link::before {
    left: -10px;
}

.profile__portrait .profile__link::before {
    content: '';
    width: 50px;
    height: 50px;
    border: 3px solid #3b79b3;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: -13px;
    opacity: 0;
    transition: all 450ms ease-in-out;
}

.profile__portrait .profile__link:hover::before {
    bottom: -13px;
    left: -13px;
    opacity: 1;
}

.profile__link > i {
    font-size: 30px;
    color: #524c4c;
}

.profile__portrait .profile__link:hover > i {
    color: #3b79b3;
}

.profile__description {
    color: #ffffff;
    background: linear-gradient(152.33deg, #102e4a 44.11%, rgba(86, 3, 173, 0.67) 166.04%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
}

.profile__description p {
    line-height: 43px;
    margin-bottom: 22px;
    text-align: justify;
}

.download-resume {
    align-self: center;
}

.download-resume i {
    margin-left: 10px;
}

/* Styling for the skillset section */
.skillset {
    background: #102e4a;
    padding: 70px;
}

.skillset .section__title {
    color: #ffffff;
}

.skillset .section__title::before {
    background: #ffffff;
}

.skillset__tools {
    display: grid;
    grid-template-columns: 40% 60%;
}

.skillset__tools, 
.skillset__text {
    position: relative;
}

.skillset__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.skillset__card {
    background: rgba(59, 46, 97, 0.6);
    box-shadow: 0px 10px 31px rgba(0, 0, 0, 0.1);
    min-height: 65px;
    color: #ffffff;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    min-height: 251px;
}

.skillset__category {
    font-size: 16px;
    margin-bottom: 20px;
}

.skillset__category i {
    margin-right: 10px;
}

.skillset__card li:not(:last-child) {
    margin-bottom: 18px;
}

.skillset__text {
    color: #ffffff;
    align-self: center;
    font-size: 22px;
    line-height: 2;
    padding-right: 90px;
    text-align: justify;
}

/* Styles for Projects section */
.projects {
    position: relative;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects > .section__title {
    align-self: flex-start;
    margin-bottom: 0;
}

.projects__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 0;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.project__img-wrapper {
    cursor: pointer;
    position: relative;
    height: 230px;
}

.project__img-wrapper img {
    width: 100%;
    height: 230px;
}

.project__details {
    font-size: 14px;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    left: 0;
    opacity: 0;
    color: #ffffff;
    background: #102e4a;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(30px);
    transition: all 300ms ease-in-out;
}

.project__img-wrapper:hover .project__details {
    opacity: .9;
    transform: translateY(0);
}

.project__details p {
    line-height: 2;
    letter-spacing: .02em;
    text-align: justify;
}

.project__stack li {
    display: inline-block;
    border: 1px solid #ffffff;
    margin-right: 2px;
    padding: 5px;
    border-radius: 4px;
}

.project__stack li:not(:last-child) {
    margin-bottom: 5px;
}

.project__details i {
    margin-left: 10px;
}

.project__details a {
    color: #ffffff;
    align-self: center;
    text-decoration: underline;
}

/* Style for the contact section */
.contact {
    background: #102e4a;
    color: #ffffff;
    font-family: 'Poppins';
}

.contact__details, 
.contact__form {
    padding: 70px;
    font-size: 20px;
}

.contact__details {
    letter-spacing: 0.02em;
    line-height: 2.5;
}

.contact__details i {
    color: #ffffff;
}

.contact__details p i {
    display: inline-block;
    width: 40px;
}

.contact__details .profile__links {
    margin-top: 50px;
    justify-content: space-between;
    width: 80%;
}

.contact__details .profile__link {
    padding: 15px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    transition: all 400ms ease-in-out;
}

.contact__details .profile__link:hover {
    transform: translateY(3px);
}   

.contact__details .profile__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 20px;
    left: -2px;
    background: #3b79b3;
    border: 2px solid #3b79b3;
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
}

.contact__details .profile__link:hover::after {
    height: 100%;
    opacity: 1;
    top: -2px;
    left: -2px;
}

.contact__text {
    text-align: justify;
    margin-bottom: 25px;
}

.contact__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form__card {
    background: rgba(59, 46, 97, 0.6);
    min-height: 65px;
    color: #ffffff;
    padding: 50px;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
}

.form__group {
    position: relative;
}

.form__group * {
    height: 55px;
    width: 100%;
    padding: 35px 20px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-family: inherit;
    cursor: text;
}

.form__group > *:focus + label, 
.form__group > *:valid + label {
    opacity: 0.7;
    top: 3px;
    font-size: 12px;
}

.form__group textarea {
    height: 100px;
    padding: 30px 20px 20px;
}

.form__group label {
    opacity: 1;
    color: #102e4a;
    position: absolute;
    padding: 0;
    height: 0;
    top: 18px;
    left: 20px;
    transition: all 400ms ease-in-out;
}

textarea::placeholder {
    color: #102e4a;
}

.form__group .btn {
    line-height: 1;
    cursor: pointer;
    padding: 20px;
    font-size: initial;
}

.btn--solid[type="submit"] {
    background: rgba(59, 121, 179, .9);
}

.form__group:not(:last-child) {
    margin-bottom: 30px;
}

.latched {
    position: sticky;
    top: 0;
}

section:not(.latched)::before {
    content: '';
    width: 100%;
    top: -7px;
    right: 0;
    position: absolute;
    background: yellow;
    height: 7px;
}

/* Styles for media queries */
@media only screen and (max-width: 767px) {
    main, section {
        height: auto;
    }

    .hero {
        padding: 25px;
        top: -28px;
        background-position: 80% 20%;
    }

    .hero__content {
        order: 2;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logo {
        width: 50px;
    }

    .nav {
        order: 1;
        margin-top: 40px;
    }

    .nav__menu {
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        position: absolute;
        background: #102e4a;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 4vw;
        opacity: 0;
        transition: all 800ms ease-in-out;
        z-index: -1;
    }

    .nav__menu li {
        align-self: flex-end;
        font-weight: bold;
        transform: scale(0);
        transition: all 700ms ease-in-out;
    }
    
    .hamburger {
        display: block;
        background: transparent;
        cursor: pointer;
    }

    .hamburger > span {
        height: 2px;
        width: 7vw;
        position: relative;
        align-self: center;
        background: #ffffff;
        margin: 20px 0 20px 20px;
        display: inherit;
        transition: all 400ms ease-in-out;
    }

    .hamburger > span::before, 
    .hamburger > span::after {
        content: '';
        height: inherit;
        position: absolute;
        background: inherit;
        right: 0;
    }

    .hamburger > span::before {
        top: -10px;
        width: 9vw;
    }

    .hamburger > span::after {
        bottom: -10px;
        width: 5vw;
    }

    .hamburger:focus {
        outline: none;
        box-shadow: none;
        position: fixed;
        right: 25px;
        top: 29px;
        z-index: 1000;
    }

    .hamburger:focus + .nav__menu {
        display: flex;
        padding: 25px;
        opacity: 1;
        border-radius: 0;
        z-index: 10;
    }

    .hamburger:focus > span {
        transform: rotate(225deg);
        width: 9vw;
    }

    .hamburger:focus > span::before,
    .hamburger:focus > span::after {
        transform: rotate(90deg);
        top: 0;
        width: 9vw;
    }

    .hamburger:focus + .nav__menu li {
        transform: scale(1);
    }

    .btn {
        height: 58px;
        font-size: 4vmin;
        line-height: 1;
    }

    .hero-cta {
        font-size: 4vmin;
        align-self: center;
    }

    .hero__text {
        width: 100%;
        font-size: 4.5vmin;
        line-height: 2.5;
        text-align: justify;
    }

    .section__title {
        font-size: 5vmin;
    }

    .contact .section__title--large {
        padding: 25px 25px 0;
        font-size: 6.5vw;
        text-align: left;
    }

    .contact__details {
        font-size: 16px;
    }

    .contact__text {
        text-align: initial;
    }

    .profile, 
    .skillset, 
    .skillset > div, 
    .projects__gallery, 
    .contact__wrapper,
    .skillset__cards {
        display: block;
    }

    .projects__gallery {
        margin: 0;
    }

    .profile__image {
        width: 100%;
    }

    .profile > div, 
    .skillset, 
    .projects, 
    .contact__wrapper > div,
    .form__card {
        padding: 25px;
    }

    .project__details p {
        line-height: 1.55;
        min-height: 90px;
        overflow: scroll;
        text-align: left;
    }

    .projects > .section__title {
        margin-bottom: 20px;
    }

    .contact__details > .profile__links {
        width: 100%;
    }

    .project__img-wrapper {
        margin-bottom: 20px;
    }

    .skillset__text {
        padding-right: 0;
        font-size: 4.5vmin;
        margin-bottom: 30px;
        text-align: left;
    }

    .skillset__card {
        min-height: auto;
        margin-bottom: 20px;
    }

    .skillset__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skillset__cert-frame {
        width: 100%;
        height: 280px;
        margin-bottom: 20px;
    }

    .contact__wrapper div.contact__form {
        padding: 25px 0 0;
    }

    .profile__bio {
        font-size: 4.5vmin;
        text-emphasis: inherit;
    }
}
